<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="user.name" value="" />
    <add key="location.path" value="" />
    <add key="changeset.number" value="10" />
    <add key="user.checked" value="True" />
    <add key="datetime.checked" value="True" />
    <add key="changeset.checked" value="True" />
    <add key="location.checked" value="True" />
    <add key="output.show" value="True" />
  </appSettings>
</configuration>
